<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="default.css" type="text/css"/>
    <script src="zepto.min.js" ></script>
    <script>
        function goToPage(page){
            page.show();
            currentPage.hide();
            previousPage.push(currentPage);
            currentPage = page;
        }

        function goToHome(){
            $('.page').hide();
            $('#home').show();
            currentPage = $('#home');
            previousPage = [];
        }

        function goBack(){
            if (previousPage.length > 0){
                currentPage.hide()
                page = previousPage.pop();
                page.show()
                currentPage = page;
            }
        }

        document.addEventListener('DOMContentLoaded', function(event) {
            goToHome()
        })
    </script>

  </head>

  <body>
    <div class="navbar">
        <ul class="navbar-menu">
            <li><a href="#" onclick="goBack()">Back</a></li>
            <li><a href="#" onclick="goToHome()">Home</a></li>
            <li>Tags</li>
            <li>Favourites</li>
        </ul>

        <div class="navbar-title">Directory Catalogue</div>

    </div>

    <div class="main">
        <!-- <div class="page" id="home">
            <p><a href="#" onclick="goToPage($('#page1'))">Page 1</a></p>
            <p><a href="#" onclick="goToPage($('#page2'))">Page 2</a></p>
            <p><a href="#" onclick="goToPage($('#page3'))">Page 3</a></p>
        </div>

        <div class="page" id="page1">
            <h1>Page 1</h1>
        </div> -->

        {{body}}

    </div>

  </body>
</html>
