.navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0 10px;
}

.navbar-menu > li{
    display: inline-block;
    margin: 0 20px;
}

.navbar-title{
    font-weight: bold;
    margin: 0 40px;
}

.main{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100vw;
}

.page{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 30vh;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

.hide{
    display: none;
}

body{
    width: 100vw;
}